.game {
  height: 895px;
  width: 1024px;
  background-image: url("../../images/background.png");
}

.stack {
  position: absolute;
  top: 160px;
  left: 382px;
  width: 320px;

  background-color: black;
}

.phantom-1 {
  opacity: 65%;
}

.phantom-2 {
  opacity: 25%;
}
