.game {
  height: 895px;
  width: 1024px;
  background-image: url("../../images/background.png");
}

.stack {
  position: absolute;
  top: 160px;
  left: 382px;
  width: 320px;

  background-color: black;
}

.low-visibility {
  opacity: 0.4;
}

.medium-visibility {
  opacity: 0.8;
}

.high-visibility {
  opacity: 1;
}
