.row {
  display: flex;
  width: 100%;
}

.block {
  width: 10%;
}

.block.block-column-1 {
  width: 100%;
}

.block.block-column-2 {
  width: 50%;
}

.block.block-column-3 {
  width: 33.3333333333333333333333%;
}

.block.block-column-4 {
  width: 25%;
}

.block.invisible {
  visibility: hidden;
}
